@use "styles/sass" as *;

.visualizer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  overflow-y: hidden;
  border-radius: var(--border-radius);

  &__stats {
    background: black;
  }

  &__seek-bar {
    background: lightblue;
  }

  &__metadata {
    background: get-color("black", 9);
    position: relative;
    overflow: hidden;
  }

  &__video {
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    z-index: 0;
  }

  &__title {
    display: grid;
    place-items: center;
    color: get-color("white");
    text-shadow: 3px 3px 0px get-color("black", 5, 0.75);
    padding: get-unit(10);
    z-index: 2;

    h3 {
      margin: 0;
      font-size: 1.25rem;
    }
    p {
      margin: 0;
    }
  }

  &__distribution {
    background: linear-gradient(45deg, get-color("black", 6), get-color("black", 4));
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2rem;

    color: get-color("white");
  }

  &__lyrics {
    padding: get-unit(6);
    overflow: hidden;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  &__adlibs {
    padding: get-unit(6);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  &__up-next {
    font-style: italic;
    padding: get-unit(0 6);
    display: flex;
    align-items: center;
    opacity: 0.5;
    gap: get-unit(2);
  }

  &__up-next-names {
    animation: upNext 2s forwards;
  }
}

@keyframes upNext {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.bars-box {
  display: flex;
  flex-direction: column;
  gap: get-unit(2);
  padding: get-unit(2);
  color: get-color("white");
  position: relative;
}

.lyric-box-container {
  opacity: 0.05;
  transition: opacity 1s;
  padding-bottom: get-unit(10);

  &--past {
    opacity: 0.5;
  }

  &--active {
    opacity: 1;
  }
}

.lyric-box {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: get-unit(2);
  font-size: 1.25em;

  &__avatars {
    display: flex;
    flex-direction: column;
  }

  &__content {
    background: get-color("black", 9);
    border-radius: get-unit(4);
    padding: get-unit(6);
  }

  &__speakers {
    text-transform: uppercase;
    font-size: 0.85em;
    display: flex;
    gap: get-unit(2);
  }

  &__text {
    background: get-color("white");
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-fill-color: transparent;
  }
}

.adlib-box-container {
  padding-bottom: get-unit(10);

  &--active {
    animation: adlib 2s forwards;
  }
}

.adlib-box {
  display: grid;
  gap: get-unit(2);
  // font-size: 1em;

  &__content {
    background: get-color("gray", 9, 0.3);
    border-radius: get-unit(4);
    padding: get-unit(6);
  }

  &__speakers {
    text-transform: uppercase;
    // font-size: 0.75em;
    display: flex;
    gap: get-unit(2);
  }

  &__text {
    background: get-color("white");
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-fill-color: transparent;
  }
}

@keyframes adlib {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  2% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.visualizer-seek-bar {
  display: grid;
  background: get-color("black", 8);
  border-top-left-radius: var(--border-radius);
  padding: get-unit(1);

  &__slider {
    margin-left: get-unit(4);
    margin-right: get-unit(4);

    & .ant-slider-rail {
      background: get-color("gray", 9, 0.5);
    }
  }
}

.visualizer-controls {
  z-index: 300;
  bottom: 0;
  position: absolute;
  display: flex;
  gap: get-unit(1);
  background: get-color("black");
  border: 2px solid get-color("black");
  border-radius: var(--border-radius);
  padding: get-unit(1);
  opacity: 0;
  transition: opacity 1s;

  &--visible {
    opacity: 1;
  }
}
