@use 'styles/sass' as *;

.bar {
  display: grid;
  grid-template-columns: auto 2fr 5ch;
  gap: get-unit(2);
  opacity: 0.3;
  transition:
    opacity 250ms,
    transform 2s;

  position: absolute;

  &--fixed {
    opacity: 1;
    position: static;
  }

  &--active {
    opacity: 1;
    z-index: 20;
  }

  &--idle {
    opacity: 0;
  }

  &__artist {
    display: flex;
    align-items: center;
    gap: get-unit(1);
  }

  &__track {
    opacity: 0.5;
    font-size: 0.75em;
  }

  &__bar {
    width: 100%;
    position: relative;
  }

  &__progress {
    height: get-unit(2);
    content: ' ';
    position: absolute;
    border-radius: get-unit(1);
    transition: 1s;
  }

  &__full-progress {
    height: get-unit(2);
    content: ' ';
    position: absolute;
    border-radius: get-unit(1);
    transition: 1s;
    opacity: 0.5;
  }

  &__progress-gutter {
    width: 100%;
    height: get-unit(2);
    content: ' ';
    position: absolute;
    border-radius: get-unit(1);
    background: get-color('gray', 3, 0.2);
  }
}
