html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: hsl(209, 97%, 13%);
  color: rgba($color: #ffffff, $alpha: 0.85);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
