html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: hsl(209, 97%, 13%);
  color: rgba($color: #ffffff, $alpha: 0.85);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.surface {
  border-radius: var(--border-radius);
  background: var(--surface-color);
  padding: get-unit(1);
}
.bordered {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.w-100 {
  width: 100%;
}

.max-width-large {
  max-width: 1024px;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  gap: get-unit(2);
  justify-content: space-between;
  align-items: center;
}
