@use 'styles/sass' as *;

.artist-form-colors {
  border-radius: var(--border-radius);
  padding: get-unit(1);
  background-color: get-color('gray', 4);
  margin-top: get-unit(1);
  margin-bottom: get-unit(1);
}

.artist-form-color {
  width: 4rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--border-radius);

  &--black {
    color: get-color('black');
  }
  &--gray {
    color: get-color('gray');
  }
  &--white {
    color: get-color('white');
  }
  &--bg-black {
    background-color: get-color('black');
  }
  &--bg-gray {
    background-color: get-color('gray');
  }
  &--bg-white {
    background-color: get-color('white');
  }
}
