@use 'styles/sass' as *;

.distributor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: get-unit(2);
  height: 100%;
  overflow-y: hidden;
  border-radius: var(--border-radius);

  &__stats {
    background: black;
  }

  &__controls {
    background: get-color('black', 5);
  }

  &__metadata {
    background: get-color('black', 9);
    position: relative;
    overflow: hidden;
  }

  &__video {
    opacity: 0.25;
    position: absolute;
    top: 0;
    height: 0;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    display: grid;
    place-items: center;
    color: get-color('white');
    text-shadow: 3px 3px 0px get-color('black', 5, 0.75);
    padding: get-unit(10);
    z-index: 2;

    h3 {
      margin: 0;
      font-size: 1.25rem;
    }
    p {
      margin: 0;
    }
  }

  &__distribution {
    background: get-color('pink', 9);
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.distribution-live-stats {
  &__button {
    padding: get-unit(1 4);
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 2px solid transparent;

    &:hover {
      background: get-color('gray', 3, 0.1);
    }

    &--active {
      background: get-color('yellow', 3, 0.1);
      border: 2px dashed get-color('gray', 3);
    }
  }

  &__assignee {
    width: 100%;
  }
}
